
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Person</title>
        {%load static %}
        <link rel="stylesheet" href="{% static 'addStyle/styles.css'%}">

    </head>
    <body>
        <h1>Add Person :</h1>
        <form method ='post'>
            {% csrf_token%}
            <label for="username">Username:</label>
            <input type="text" name="username"><br>
            <label for="password">password:</label>
            <input type="password" name=" password"><br>
            <input type="submit" value="Submit">
        </form>
        <a href="{%url 'index'%}" >view people</a>
    </body>
</html>